<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<title>Dietrich Daroch's Homepage</title>

		<!-- Theme -->
    <link href="/style/cloudy-sea.jpg" rel="preload" as="image">
    <link href="/style/open-sans-regular.woff2" rel="preload" as="font">
		<link href="/style/theme.css" rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" rel="stylesheet" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/preload.js" integrity="sha384-NoiTdF/KjxH4wa6OHMdM4F6e/LIPNMcFBgOIINTTaczWo0vX1mWTOzckySqlGQS/" crossorigin="anonymous"></script>

		<!-- Favicon -->
		<link href="/icons/favicon.ico" rel="icon" sizes="16x16" type="image/x-icon">
		<link href="/icons/16.png" rel="icon" sizes="16x16" type="image/png">
		<link href="/icons/32.png" rel="icon" sizes="32x32" type="image/png">
		<link href="/icons/180.png" rel="icon" sizes="180x180" type="image/png">
		<link href="/icons/192.png" rel="icon" sizes="192x192" type="image/png">
		<link href="/icons/512.png" rel="icon" sizes="512x512" type="image/png">

		<!-- Metadata -->
		<meta name="author" content="Dietrich Daroch">
		<meta name="description" content="Dietrich Daroch's personal website">
		<link href="/foaf.rdf" rel="meta" title="FOAF" type="application/rdf+xml"/>
		<link rel="canonical" href="https://dietrich.daroch.me/">

		<meta property="og:title" content="Dietrich Daroch">
		<meta property="og:description" content="Dietrich Daroch's personal website">
		<meta property="og:url" content="https://dietrich.daroch.me/">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/icons/192.png">
		<meta property="og:image:width" content="192">
		<meta property="og:image:height" content="192">
		<meta property="og:locale" content="en">

		<!-- Content -->
		<link href="/tabs/about.html" rel="preload" as="document" type="text/html">

		<meta name="theme-color" content="#222">

		<!-- Hacky extension to restore the Page from the URL's anchor -->
		<script>
(function(){
	let default_anchor = "#about";
	var initial_anchor = null;

	htmx.defineExtension('restore-anchor', {
		init: function (apiRef) {
			let anchor = decodeURI(window.location.hash);
			initial_anchor = anchor != "" ? anchor : default_anchor;
		},

		onEvent : function(name, event) {
			if (name === 'htmx:afterProcessNode') {
				if (event.target.getAttribute('hx-push-url') == initial_anchor) {
					event.target.click();
				}
			}
		}
	});
})();
		</script>
	</head>
	<body class="index">
		<div class="pure-g centered">
			<div class="pure-u-1 pure-u-lg-3-4 site-content">
				<div class="pure-g dark-transparency centered round5bot paddingbot">
					<header class="pure-u-1 narrow">
						<h1 id="title">Dietrich Daroch</h1>
					</header>
					<navbar class="pure-u-1 narrow" hx-ext="preload">
						<div class="tab-list">
							<button class="pure-button"
							        hx-target="#content"
							        hx-get="/tabs/about.html"
							        preload
							        hx-ext="restore-anchor"
							        hx-push-url="#about"
							        hx-history-target="#about"
							        aria-controls="content">About me</button>
							<button class="pure-button"
							        hx-target="#content"
							        hx-get="/tabs/research.html"
							        preload
							        hx-ext="restore-anchor"
							        hx-push-url="#research"
							        hx-history-target="#research"
							        aria-controls="content">Research</button>
							<button class="pure-button"
							        hx-target="#content"
							        hx-get="/tabs/résumé.html"
							        preload
							        hx-ext="restore-anchor"
							        hx-push-url="#résumé"
							        hx-history-target="#résumé"
							        aria-controls="content">Résumé</button>
						</div>
					</navbar>
				</div>
				<div class="pure-g dark-transparency centered round5">
					  <main id="content"
					        class="narrow"
					        hx-history-elt
					        hx-swap="innerHTML">
					</main>
				</div>
				<div class="pure-g centered round5 paddingtop">
					<footer class="flex narrow centered">
						<div class="pure-u-1-12 left">
							<a href="mailto:dietrich@daroch.me"
							   title="Email me">
								<svg aria-hidden="true" viewBox="0 0 16 16" width="16" height="16" fill="#fff">
									<path d="M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2ZM1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809v6.442Zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z"></path>
								</svg>
							</a>
							<a href="http://github.com/Dietr1ch/"
							   title="My github profile">
								<svg aria-hidden="true" viewBox="0 0 16 16" width="16" height="16" fill="#fff">
									<path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 01-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 010 8c0-4.42 3.58-8 8-8z"></path>
								</svg>
							</a>
						</div>
					</footer>
				</div>
		</div>
	</body>
</html>
