@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url(open-sans-regular.woff2) format("woff2");
	font-display: block;
}

* {
	color: #fff;
}

.paddingtop {
	margin-top: 0.5em;
	padding-top: 0.5em;
}
.paddingbot {
	margin-bottom: 2em;
	padding-bottom: 1em;
}

.centered {
	justify-content: center;
}
.site-content {
	justify-content: center;
	max-width: 45em;
}
.narrow {
		max-width: 40em;
}

header,
navbar,
main,
footer {
	width: 100%;
}
navbar,
footer {
	user-select: none;
}
aside {
	text-align: center;
}

.flex {
	display: flex;
}

button {
	background-color: transparent !important;
	border: 1px solid #fff !important;
	color: white !important;
	border-radius 0.5em;
	&:hover, &:focus {
		background-color: #222 !important;
	}
}

a,
p,
li
{
	color: #fff;
	max-width: 40em;
}
p {
	text-align: justify;
}
a {
	background-color: transparent;
}
html, body {
	height: 100%;
	background-color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: justify;
}

/** Theme Styles **/
body {
	background-image: url("cloudy-sea.jpg");
	background-position-x: center;
	background-position-y: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.card {
	background: #515151;
	background: rgba(21, 21, 21, 0.1);
}

/** Transparency **/
.dark-transparency {
	background: #151515;
	background: rgba(21, 21, 21, 0.7);
}

.medium-transparency {
	background: #151515;
	background: rgba(21, 21, 21, 0.5);
}

.light-transparency {
	background: #151515;
	background: rgba(21, 21, 21, 0.5);
}

.round5 {
	border-radius: 0.5em;
}

.round5bot {
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}


h1,
h2,
h3,
h4,
h5,
h6
{
	color: #fff;
	font-weight: 700;
	text-shadow: #111 0 0 10px;
}
#title {
	margin: 0;
	color: #fff;
	font-size: 3.3em;
	font-weight: 700;
	text-shadow: #111 0 0 10px;
}

.text-bold {
	font-weight: 700;
}
.text-muted {
	color: #aaa;
}
.left {
	text-align: left;
}

.right {
	text-align: right;
}

