---
title: Dietrich Daroch's Homepage
layout: site
---

br
div#Me
  h3 Me
  p I'm a CS grad from PUC Chile. I enjoy music, playing guitar, biking,
  snowboarding and playing games.
  p I'm interested on Search and Planning; Distributed Databases and CS in
  general.

  br
  h4 Why is this site so ugly?
  p Not my specialty. Well, at least it doesn't sport grey background with blinking gifs.


br
div#Research
  h3 Research

  div#LinkedData
    h4 Linked Data
    p In Linked Data navigational queries are expensive to compute as it
    requries navigating the graph across many possibly possibly servers.
    p We found a way to use the query itself to derive a consistent heuristic
    that makes A* available for computing Property Paths more effectively than
    uninformed Search Algorithms, which helps reducing the amount of nodes
    expanded to get the answers to a given query.
    ul
      li = link_to "ASLD", "research/asld/"

  div#APrime
    h4 Hierarchic Heuristic Search
    p I'm experimenting with a way to abstract search spaces into a hierarchic
    space that can provide subgoals and better heuristics.

br
div#Work
  h3 Work

  div#MTV
    h4 Sofware Engineer
    p I'm working at a startup to describe and search the things you can Do in
    the Internet.

div#CV
  h2 CV
  p Well, don't expect impressive grades here, I really didn't liked engineering school that much as it forced me to go through more than a few irrelevant courses, I wish that CS becomes a carreer on it's own.
  ul
    li = link_to "CV", "https://www.sharelatex.com/project/534b44007c24729168ed38fe/output/output.pdf?compileGroup=standard&clsiserverid=clsi2-0&popupDownload=true"
    li = link_to "CV source", "https://www.sharelatex.com/project/534b44007c24729168ed38fe"
